/* lato-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/lato-v23-latin-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}



.body {
    background-image: url('');
    object-fit: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
    margin: 0 auto;
    padding: 0;
    height: 10vh;
    width: 100vw;
    color: white;
    font-family: "Lato";
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*../img/jpeg/Tanshan.jpg*/


/* Header styles START */
.header {
    margin: 0;
    padding: 40px 40px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.header__wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.button__wrapper {
    display: flex;
    justify-content: center;
}

.player {
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.play-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8;
    padding-top: 20px;
    opacity: 0.8;
}

.play-list__item:before {
    content: '✔';
}

.player__button {
    border-radius: 0px;
    margin-right: 20px;
    border: none;
    padding: 0;
    background: none;
    opacity: 0.8;
}

.line {
    color: white;
    opacity: 0.8;
    margin-bottom: 20px;
    width: 100%;
}

.city-name {
    margin: 0;
    margin: 20px 0 0 0;
    border: 0px solid transparent;
    background-color: transparent;
    color: white;
    opacity: 0.8;
    font-family: "Lato";
    font-size: 36px;
    font-weight: 400;
    width: 50%;
    padding: 0;
}

.city-picker {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.8;
}

.weather {
    max-width: 260px;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.weather-icon {
    margin-bottom: 5px;
}

.weather__parameters {
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    opacity: 0.8;
}

/* Header styles END */

/* Main styles START */

.main {
    margin: 0;
    padding: 40px 0;
    margin-bottom: 60px;
}

.arrow {
    background: none;
    opacity: 0.8;
    padding: 0;
}

/*.time {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}*/

.year {
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 15px 0;
}

.clock {
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 15px 0;
}

.arrow__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.date {
    color: white;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 1px;
}

.greeting__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.greeting {
    color: white;
    font-size: 56px;
    font-weight: 400;
    text-align: center;
    padding: 15px 0;
    letter-spacing: 1px;
    margin-right: 20px;
}

.input__name {
    border: 0px solid transparent;
    background-color: transparent;
    color: white;
    opacity: 0.8;
    font-family: "Lato";
    font-size: 56px;
    font-weight: 400;
    padding: 0;
    max-width: 30%;

}

.input__name ::placeholder {
    opacity: 0.8;
    font-family: "Lato";
    font-size: 56px;
    font-weight: 400;
}

.arrow {
    border: 0;
    cursor: pointer;
}

.arrow:hover,
.arrow:active {
    opacity: 0.5;
}

.quote__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.quote {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    margin-bottom: 0;
}

.author {
    font-family: "Lato";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.rewind {
    background: none;
    opacity: 0.8;
    padding: 0;
    border: none;
    cursor: pointer;
}

.rewind:hover {
    opacity: 0.5;
}

/* Main styles END */

/* Footer styles START */

.footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
}

.info__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.my__info--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20px;
    gap: 10px;
}

.github__link,
.school__link {
    text-decoration: none;
    color: white;
}

.github__link,
.copyright,
.info__year,
.school__link {
    font-family: "Lato";
    font-size: 20px;
    font-weight: 300;
}

.school__info--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    margin-right: 20px;
    align-items: center;
}



/* Footer styles END */

@media screen and (max-width: 1300px) {

    .body {
        font-size: 16px;
    }

    .weather {
        margin-bottom: 50px;
    }

    .main {
        padding: 10px 0;
    }

    .clock {
        font-size: 50px;
    }

    .date {
        font-size: 32px;
    }

    .greeting,
    .input__name {
        font-size: 42px;
    }

}

@media screen and (max-width: 700px) {

    .header {
        flex-direction: column;
        align-items: center;
    }

    .main {
        margin-bottom: 40px;
    }

    .player,
    .weather {
        margin-bottom: 20px;
    }

    .play-list {
        align-items: center;
    }

}

@media screen and (max-width: 500px) {

    .header {
        padding: 30px 0;
    }

    .player {
        margin-bottom: 20px;
    }

    .weather {
        margin-bottom: 20px;
    }

    .greeting__wrapper {
        display: block;
    }

    .input__name {
        text-align: center;
        max-width: 100%;
    }

    .greeting {
        margin-right: 0;
    }

    .info__wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {

    .date {
        font-size: 20px;
    }

    .greeting {
        font-size: 32px;
    }

    .input__name {
        font-size: 32px;
    }
}